
.col-md-9
  .row
    .col-md-12
      
      = link_to lunch_groups_path(seed: @seed), method: :post, class: 'btn btn-primary' do
        Save & Send Notifications

      = link_to root_path, class: 'btn btn-default pull-right' do
        Shuffle
  %hr
  .row
    = render partial: 'lunch_groups/shared/lunch_groups', locals: {groupings: @groupings}
    

.col-md-3
  %ul.list-group
    %li.list-group-item.list-group-item-info
      %i.fa.fa-calendar
      Upcoming Lunches
    - (Date.today..28.days.from_now).each do |date|
      - if date.strftime('%A') == 'Friday'
        %li.list-group-item{class: ('active' if date == Date.today).to_s}
          = date.inspect


.col-md-12
  .text-muted
    (Randomied with seed #{@seed})